doctype html
html(lang='en')
    head 
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        meta(charset = "UTF-8")
        title URL-Shortener Microservice 
    body
        div.container
            h1.header API Project: URL-Shortener Microservice
            p 
                | By radumazilu | See it on  
                a(href="https://github.com/radumazilu") GitHub
            blockquote User Stories:
                ol
                    li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
                    li If I pass an invalid URL that doesn't follow the valid /add/http://www.example.com format, the JSON response will contain an error instead.
                    li When I visit that shortened URL, it will redirect me to my original link.
            h2 Example Usage:
            code https://radumazilu-url-shortner.herokuapp.com/add/https://www.google.com
            br
            code https://radumazilu-url-shortner.herokuapp.com/7062
            h2 Example Output:
            code {"original_url":"https://www.google.com", "short_url":"https://radumazilu-url-shortner.herokuapp.com/7062"}
            br
            code {"error":"Wrong url format, make sure you have a valid protocol and real site."}
            br
            code {"error":"This url is not on the database."}
